<!-- MODIFYING THIS FILE SHOULD BE UNNECESSARY -->
<doctype! html>
<html>
  <head>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-app="app">
      <nav>
        <a href="#/fizzbuzz" ng-controller="fizzbuzzCtrl" ng-click='result()'>Fizzbuzz</a>
        <a href="#/fozzbazz" ng-controller="fizzbuzzCtrl" ng-click='result()'>Fozzbazz</a>
      </nav>
      <div ng-view="count"></div>
    </div>
  </body>
</html>
